* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #d879ac,
    #df86b3,
    #e594bb,
    #eba1c3,
    #efa7be,
    #f0afbb,
    #f0b6ba,
    #e8bab1,
    #ddbeae,
    #d2c2b0,
    #c9c4b6
  );
  background-repeat: no-repeat;
  height: 100vmax;
}

.component {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  font-size: 80px;
}

.dicees {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: 50px;
}
.player1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.dicees h3 {
  font-size: 30px;
  margin: 20px;
}

img {
  width: 200px;
  height: 200px;
}
.button {
  display: flex;
  justify-content: center;
}
.button button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 25px;
  padding: 5px;
}
.button button:active {
  background-color: rgb(245, 152, 152);
  color: #fff;
}

@media (max-width: 580px) {
  body {
    background-repeat: no-repeat;
    height: 100%;
  }
  .dicees {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header h1 {
    font-size: 50px;
  }
}
